<% title "Admin/Template" %>

<p>
  <strong>Name:</strong>
  <%= @template.name %>
</p>
<p>
  <strong>Active:</strong>
  <%= @template.active %>
</p>
<p>
  <strong>Published:</strong>
  <%= @template.published %>
</p>

<p>
  <%= link_to "Edit", edit_admin_template_path(@template) %> |
  <%= link_to "Destroy", [:admin, @template], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_templates_path %>
</p>
