<% title @template.name %>

<h1><%= @template.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.webpart.messages.show')%></p><br />
<br />
<p>
  <strong><%=t 'attributes.name' %>:</strong>
  <%= @template.name %>
</p>
<p>
  <strong><%=t 'attributes.published' %>:</strong>
  <%= print_active(@template.published) %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_templates_path()+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>
