<% title "Admin/Galleries" %>

<table>
  <tr>
    <th>Content</th>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>
    <th>Published</th>
  </tr>
  <% for gallery in @galleries %>
    <tr>
      <td><%= gallery.content_id %></td>
      <td><%= gallery.name %></td>
      <td><%= gallery.description %></td>
      <td><%= gallery.active %></td>
      <td><%= gallery.published %></td>
      <td><%= link_to t('attributes.showing'), [:admin, gallery] %></td>
      <td><%= link_to t('attributes.editing'), edit_admin_gallery_path(gallery) %></td>
      <td><%= link_to t('attributes.exclude'), [:admin, gallery], :confirm => 'Esta operação não poderá ser desfeita, deseja continuar?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Gallery", new_admin_gallery_path %></p>
