<% title "Admin/Galleries" %>

<table cellspacing="0" class="tablesorter" width="80%">
  <thead> 
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Active</th>
    <th>Published</th>
  </tr>
  </thead> 
  <tbody>
  <% for gallery in @galleries %>
    <tr>
      <td><%= gallery.name %></td>
      <td><%= gallery.description %></td>
      <td><%= gallery.active %></td>
      <td><%= gallery.published %></td>
	  <td><%= link_to "Imagens", admin_gallery_gallery_images_path(gallery) %></td>
      <td><%= link_to "Show", [:admin, gallery] %></td>
      <td><%= link_to "Edit", edit_admin_gallery_path(gallery) %></td>
      <td><%= link_to "Destroy", [:admin, gallery], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "New Admin/Gallery", new_admin_gallery_path %></p>
