<%content_for :head do%>
<%= javascript_include_tag "jquery.fancybox-1.3.4.pack.js" %>
<%= javascript_include_tag "jquery.easing-1.3.pack.js" %>
<%= javascript_include_tag "jquery.mousewheel-3.0.4.pack.js" %>
<%= stylesheet_link_tag "jquery.fancybox-1.3.4"%>
<script>
	jQuery(document).ready(function() {
			jQuery("#various7").fancybox({
		        onStart     :   function() {
		            return window.confirm('Continue?');
		        },
		        onCancel    :   function() {
		            alert('Canceled!');
		        },
		        onComplete  :   function() {
		            alert('Completed!');
		        },
		        onCleanup   :   function() {
		            return window.confirm('Close?');
		        },
		        onClosed    :   function() {
		            alert('Closed!');
		        }
		    });
	});
</script>
<% end %>

<div id="Box_form">
<%= form_for([:admin, @category, @subcategory]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"form-control" %>
  </p>
  <p>
    <%= f.label :published %>
    <%= f.check_box :published, :class=>"form-control" %>
  </p>
  <p>
    <%= f.label :menu_display %>
    <%= f.check_box :menu_display, :class=>"form-control" %>
  </p>
  <br />
  <p class="box-footer"><%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_category_subcategories_path(@category)+"','_self');", :class => "btn btn-default", :style=>"margin-right: 5px;"%> <%= f.submit nil, :class => "btn btn-default" %></p>
<% end %>
</div>
