

<table>
  <tr>
    <th>Category</th>
    <th>Template</th>
    <th>Name</th>
    <th>Active</th>
    <th>Published</th>
  </tr>
  <% for subcategory in @subcategories %>
    <tr>
      <td><%= subcategory.category_id %></td>
      <td><%= subcategory.template_id %></td>
      <td><%= subcategory.name %></td>
      <td><%= subcategory.active %></td>
      <td><%= subcategory.published %></td>
      <td><%= link_to t('attributes.showing'), [:admin, subcategory] %></td>
      <td><%= link_to t('attributes.editing'), edit_admin_subcategory_path(subcategory) %></td>
      <td><%= link_to t('attributes.exclude'), [:admin, subcategory], :confirm => t('system_messages.notice_to_delete'), :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Admin/Subcategory", new_admin_subcategory_path %></p>
