<% title @category.name+" / "+ @subcategory.name%>

<h1><%= @category.name+"  / "+ @subcategory.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.subcategory.messages.show')%></p><br />
<br />
<p>
  <strong><%=t('attributes.name') %>:</strong>
  <%= @subcategory.name %>
</p>
<p>
  <strong><%=t 'attributes.published' %>:</strong>
  <%= print_active(@subcategory.published) %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_category_subcategories_path(@category)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>