<%= include_tiny_mce_if_needed %>
<div id="Box_form">
<%= form_for [:admin, @webpart] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :encoding %><br />
    <%= f.text_area :encoding, :class => "mceEditor" %>
  </p>
  <br />
  <p>
    <%= f.label :webtype %>
    <%= f.text_field :webtype %>
  </p>
  <p>
    <%= f.label :published %>
    <%= f.check_box :published %>
  </p>
  <br />
  <p><%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_webparts_path+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%> <%= f.submit nil, :class => "Bt_enviar" %></p>
<% end %>
</div>
