<%= include_tiny_mce_if_needed %>
<div id="Box_form">
<%= form_for [:admin, @webpart] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"form-control" %>
  </p>
  <p>
    <%= f.label :encoding %><br />
    <%= f.text_area :encoding, :class => "mceEditor form-control" %>
  </p>
  <br />
  <p>
    <%= f.label :webtype %>
	<%= f.select :webtype,([
			[t('activerecord.attributes.webpart.types.selection'), ""], 
			[t('activerecord.attributes.webpart.types.one'), "1"],
			[t('activerecord.attributes.webpart.types.two'), "2"],
			[t('activerecord.attributes.webpart.types.three'), "3"],
			[t('activerecord.attributes.webpart.types.four'), "4"],
			[t('activerecord.attributes.webpart.types.five'), "5"],
			[t('activerecord.attributes.webpart.types.six'), "6"],
			[t('activerecord.attributes.webpart.types.seven'), "7"],
			[t('activerecord.attributes.webpart.types.eight'), "8"],
			[t('activerecord.attributes.webpart.types.nine'), "9"]						
			]), :class => 'genForm_dropBox form-control' %>
  </p>
  <p>
    <%= f.label :published %>
    <%= f.check_box :published %>
  </p>
  <br />
  <p class="box-footer"><%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_webparts_path+"','_self');", :class => "btn btn-default", :style=>"margin-right: 5px;"%> <%= f.submit nil, :class => "btn btn-default" %></p>
<% end %>
</div>
