<% title show_model_name(Webpart,true) %>

<h1><%= show_model_name(Webpart, true)%></h1><br />
<p><%= t('activerecord.attributes.webpart.messages.index')%></p><br />
<br />
<p style="text-align: right;"><%= submit_tag t('attributes.create_new'),:type=>"button",:onclick=>"window.open('"+new_admin_webpart_path+"','_self');", :class => "Bt_enviar"%> </p>
<br />
<table cellspacing="0" class="tablesorter" width="80%">
	<thead> 
		<tr>
			<th style="width:30%;"><%=t 'attributes.name' %></th>
			<th style="width:15%;"><%=t 'attributes.published' %> ?</th>
			<th style="width:25%;"><%=t 'activerecord.attributes.webpart.webtype' %></th>
			<th colspan="3" style="width:30%;"><%=t 'attributes.actions' %></th>
		</tr>
	</thead> 
	<tbody>
	<% for webpart in @webparts %>
	<tr <%='class=notactive' if !webpart.published%>>
		<td><%= webpart.name %></td>
		<td><%= print_active(webpart.published) %></td>
		<td><%= webpart.webtype %></td>
		<td><%= link_to t('attributes.showing'), [:admin, webpart] %></td>
		<td><%= link_to t('attributes.editing'), edit_admin_webpart_path(webpart) %></td>
		<td><%= link_to t('attributes.exclude'), [:admin, webpart], :confirm => t('system_messages.notice_to_delete'), :method => :delete %></td>
	</tr>
	<% end %>
	</tbody>
</table>

