<% title @webpart.name %>

<h1><%= @webpart.name %></h1><br />
<br />
<p>Verifique se as informações abaixo estão corretas.</p><br />
<br />
<p>
  <strong>Nome:</strong>
  <%= @webpart.name %>
</p>
<p>
  <strong>Publicado:</strong>
  <%= print_active(@webpart.published) %>
</p>
<p>
  <strong>Tipo:</strong>
  <%= @webpart.type %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag "Voltar",:type=>"button",:onclick=>"window.open('"+admin_webparts_path()+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>