<% title @webpart.name %>

<h1><%= @webpart.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.category.messages.show')%></p><br />
<br />
<p>
  <strong><%=t 'attributes.name' %>:</strong>
  <%= @webpart.name %>
</p>
<p>
  <strong><%=t 'attributes.published' %>:</strong>
  <%= print_active(@webpart.published) %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.webpart.type' %>:</strong>
  <%= @webpart.type %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_webparts_path()+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>