<%= form_for([:admin, @footer_site], :html => { :multipart => :true }) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
<p>
    <%= f.label :footer_order %><br />
    <%= f.text_field :footer_order %>
  </p>  
<p>
    <%= f.label :legend %><br />
    <%= f.text_field :legend %>
  </p>
  <p>
    <%= f.label :destination %><br />
    <%= f.text_field :destination %>
  </p>
  <p>
    <%= f.label :link_target %><br />
    <%= f.text_field :link_target %>
  </p>
  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.label :footer_type %>
	<%= f.select :footer_type,([
								[t('activerecord.attributes.footer_site.types.selection'), ""],
							 	[t('activerecord.attributes.footer_site.types.one'), "1"],
								[t('activerecord.attributes.footer_site.types.two'), "2"],
								[t('activerecord.attributes.footer_site.types.three'), "3"],
								[t('activerecord.attributes.footer_site.types.four'), "4"]								
							  ]), :class => 'genForm_dropBox' %>
  </p>
  <p><%= f.submit %></p>
<% end %>
