<% title "Admin/Footer Site" %>
<section class="content-header">
  <h1>Rodapés Sites
    <br/>
    <small>Verifique abaixo os Rodapés cadastrados</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active"> Rodapés Sites </li> 
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <p>
        <strong>Name:</strong>
        <%= @footer_site.name %>
      </p>
      <p>
        <strong>Order:</strong>
        <%= @footer_site.footer_order %>
      </p>
      <p>
        <strong>Legend:</strong>
        <%= @footer_site.legend %>
      </p>
      <p>
        <strong>Destination:</strong>
        <%= @footer_site.destination %>
      </p>
      <p>
        <strong>Link Target:</strong>
        <%= @footer_site.link_target %>
      </p>
      <p>
        <strong>Image File Name:</strong>
        <%= @footer_site.image_file_name %>
      </p>
      <p>
        <strong>Image Content Type:</strong>
        <%= @footer_site.image_content_type %>
      </p>
      <p>
        <strong>Image File Size:</strong>
        <%= @footer_site.image_file_size %>
      </p>
      <p>
        <strong>Image Updated At:</strong>
        <%= @footer_site.image_updated_at %>
      </p>
      <p>
        <strong>Active:</strong>
        <%= @footer_site.active %>
      </p>
      <p>
        <strong>Published:</strong>
        <%= @footer_site.published %>
      </p>

      <p class="box-footer">
        <%= link_to "Voltar", admin_footer_sites_path, :class=>"btn btn-default" %>
        <%= link_to "Editar", edit_admin_footer_site_path(@footer_site), :class=>"btn btn-default" %> 
        <%= link_to "Excluir", [:admin, @footer_site], :confirm => 'Are you sure?', :method => :delete, :class=>"btn btn-default" %> 
        
      </p>
    </div>    
  </div>
</section>

