<div class="Tit_box_cad">
	<h1 class="Tit_cad_green">Esqueceu a senha?</h1>
</div>
<%= form_tag password_resets_path, :remote => true,:id=>"frm_password_resets" do %>
<div id="Show_Box_Error_Login">

</div>
<div class="Field_box_cad">
	<div class="Label_cad"><%= label "email", "", "E-mail" %></div>
	<div class="Bg_input">
	    <%= text_field_tag "email","e-mail", :class => "Input_cad", :onfocus => "javascript:check_text_onfocus(this)", :onblur => "javascript:check_text_onblur(this)"%>

	</div>
</div>      
 
<div class="Buttom_box_cad">
	
	<%= image_tag("bt_voltar.png",:onclick=>"voltaConteudo()", :class => "Bt_enviar", :style=>"margin-right: 5px;", :style => "cursor:pointer;")%>
	<%= image_tag("bt_enviar.png",:onclick=>"enviardaodos(this)",:id=>"btn_enviar_password", :style => "cursor:pointer;")%>
	<br /><br />
	<%= image_tag "loading.gif", :style => 'display:none;', :id => 'loading-forgot' %>
</div>   
<% end %>
