<% title @guide_type.code %>

<h1><%= @guide_type.code %></h1><br />
<p><%= t('activerecord.attributes.guide_type.messages.show')%></p><br />

<p>
  <strong>Codigo:</strong>
  <%= @guide_type.code %>
</p>
<p>
  <strong>Descrição:</strong>
  <%= @guide_type.description %>
</p>
<p><%= link_to(t('attributes.go_back'),admin_guide_types_path, :class => "btn btn-lg btn-default" )%></p>
