<% title @banner.name %>

<h1><%= @banner.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.banner.messages.show')%></p><br />
<br />

<p>
  <strong><%=t 'activerecord.attributes.banner.name' %></strong>
  <%= @banner.name %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.banner.description' %></strong>
  <%= @banner.description %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.banner.link' %></strong>
  <%= @banner.link %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.banner.link_target' %></strong>
  <%= @banner.link_target %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_banners_path()+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>

