<% title @banner.name %>

<section class="content-header">
  <h1>
    <%= @banner.name %>
    <br/>
    <small><%= t('activerecord.attributes.banner.messages.show')%></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active"> Banners </li> 
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <p>
        <strong><%=t 'activerecord.attributes.banner.name' %></strong>
        <%= @banner.name %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.banner.description' %></strong>
        <%= @banner.description %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.banner.link' %></strong>
        <%= @banner.link %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.banner.link_target' %></strong>
        <%= @banner.link_target %>
      </p>
      <br />
      <p class="box-footer">
	      <%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_banners_path()+"','_self');", :class => "btn btn-default", :style=>"margin-right: 5px;"%>
      </p>      
    </div>    
  </div>
</section>
