<section class="content-header">
  <h1>Orders
    <br/>
    <small></small>
  </h1> 
  	<div id="search">
		  <p>Informe o número da autorização do Pag Seguro</p>
		  <%=form_tag '/admin/searchs/results', :method => :get, :name=>"formkeyword"%>
			  <%=text_field_tag :keyword, nil ,:style => "width:350px;"%>
			  <%=submit_tag "Buscar", :class => "btn btn-primary"%>
		  </form>
	  </div>
	  <div id="filtrar">
		  <% if $pag == 0 %>
			  <%=form_tag '/admin/searchs', :method => :get %>
		  <% else %>
			  <%=form_tag '/admin/searchs/'+params[:id], :method => :get %>		
		  <% end %>
		  <br />
	  <label style=" vertical-align:middle; text-align:left;" >Filtrar por Status:</label>
          <select name="status" id="status"style=" text-align:left;">
              <option value>Todos</option>
              <option value="completed">Completo</option>
              <option value="incompleted">Incompleto</option>
              <option value="pending">Aguardando Pagamento</option>
              <option value="approved">Aprovado</option>
              <option value="verifying">Em Análise</option>
              <option value="canceled">Cancelado</option>
              <option value="refunded">Devolvido</option>
          </select><br />
          <label style=" vertical-align:middle; text-align:left;">Tipo de Pagamento:</label>
          <select name="type" id="type" style=" text-align:left; margin-right:10px;">
              <option value>Todos</option>
              <option value="credit_card">Cartão de Crédito</option>
              <option value="invoice">Boleto</option>
              <option value="pagseguro">Transferência entre Pagseguro</option>
              <option value="online_transfer">Pagamento Online</option>
              <option value="donation">Doação</option>
          </select><br /><br />
		  <%= submit_tag "Filtrar..." , :class => "btn btn-default" %>
		  </form>
	  </div>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active"> Orders </li> 
  </ol>
</section>


<section class="content">
  <div class="box">
    <div class="box-body table-responsive no-padding">
      <table cellspacing="0" class="table table-hover" width="100%">
	      <thead> 
			      <tr>
				      <th width="100px">Ordem</th>
	          		<th width="250px">Usuário</th>
	          		<th width="150px" class="text-center">Status</th>
	          		<th width="150px" class="text-center">Tipo de Pagamento</th>
	          		<th width="250px" class="text-center">ID Pagseguro</th>
			      </tr>
		      </thead> 
		      <tbody>
	        		<% for order in @Orders %>
	          	<tr>
		        		<td align="center"><%= order.id %></td>
	            		<td ><%= order.user.name if !order.user.name.empty? %></td>
	            		<td align="center"><%= traduz_status_do_pedido(order.status) %></td>
	            		<td align="center"><%= traduz_tipo_do_pagamento(order.payment_type) %></td>
	            		<td align="center"><%= link_to(order.pagseguro_id, '/admin/searchs/results?utf8=✓&keyword='+order.pagseguro_id+'&commit=Buscar') if !order.pagseguro_id.blank? %></td>
	          	</tr>
	        		<% end %>
		      </tbody>
	      </table>
	      <br />
	      <%= will_paginate @Orders %>
	
      </div>
      <script>
	      document.getElementById('keyword').focus();
      </script>
    </div>    
  </div>
</section>

<div style="margin-bottom:20px;">
