<div id="Box_form">
<%= form_for([:admin, @template, @webmodule]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :webpart_id %>
	<%= f.collection_select :webpart_id,@webparts,:id,:name, :prompt => "Selecione", :class=>"form-control" %> 
  </p>
  <p>
    <%= f.label :position %>
    <%= f.text_field :position, :class=>"form-control" %>
  </p>
	<div id="ModuleKeys">
		
	</div>
  <p>
    <%#= f.label :module_key %><br />
    <%#= f.text_area :module_key %>
  </p>
  <p>
    <%= f.label :published %>
    <%= f.check_box :published %>
  </p>
  <br />
  <p class="box-footer"><%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_template_webmodules_path(@template)+"','_self');", :class => "btn btn-default", :style=>"margin-right: 5px;"%> <%= f.submit nil, :class => "btn btn-default" %></p>
<% end %>
</div>

<script type="text/javascript">

  jQuery(function() { 
    changeSelects("webmodule_webpart_id", "ModuleKeys", <%=@template.id%>); 
  });
</script>
