<% title show_model_name(::Webmodule, true)  %>

<h1><%= show_model_name(::Webmodule, true)%></h1><br />
<p><%= t('activerecord.attributes.webmodule.messages.index')%></p><br />
<br />
<p style="text-align: right;"><%= submit_tag t('attributes.create_new'),:type=>"button",:onclick=>"window.open('"+new_admin_template_webmodule_path(@template)+"','_self');", :class => "Bt_enviar"%> </p>
<br />
<table cellspacing="0" class="tablesorter" width="80%">
	<thead> 
		<tr>
			<th style="width:30%;"><%= show_model_name(::Webpart)+" "+t('attributes.name') %></th>
			<th style="width:25%;"><%=t 'activerecord.attributes.webmodule.position' %> </th>
			<th style="width:15%;"><%=t 'attributes.published' %> ?</th>			
			<th colspan="3" style="width:30%;"><%=t 'attributes.actions' %></th>
		</tr>
	</thead> 
	<tbody>
	  <% for webmodule in @webmodules %>
	    <tr <%='class=notactive' if !webmodule.published%>>
	      <td><%= webmodule.webpart.name %></td>
	      <td><%= webmodule.position %></td>
	      <td><%= print_active(webmodule.published) %></td>
	      <td><%= link_to t('attributes.showing'), admin_template_webmodule_path(@template,webmodule) %></td>
	      <td><%= link_to t('attributes.editing'), edit_admin_template_webmodule_path(@template,webmodule) %></td>
	      <td><%= link_to t('attributes.exclude'), admin_template_webmodule_path(@template,webmodule), :confirm => t('system_messages.notice_to_delete'), :method => :delete %></td>
	    </tr>
	  <% end %>
	</tbody>
</table>

