<%if @Webpart.webtype == "1"%>
	<!-- NOTICIAS -->
	<%Content.all_published.each do |n|%>
		<%=radio_button_tag :module_key, n.id, nil, :class => "input_radio"%> <%=n.name%> <i>(<%=n.subcategory.name%>)</i> <br/>
	<%end%>

<%elsif @Webpart.webtype == "2"%>
	<!-- CUSTOM HTML -->
	<label>Código HTML</label><br />
    <%= text_area_tag :module_key %>

<%elsif @Webpart.webtype == "3"%>
	<!-- IMAGEM -->
	<div class="col-md-12">
	  <label>Escolha a imagem</label>
	  <div class="row">
	    <%Upload.all_images.each do |n|%>
  	    <div class="col-md-4 show_image_box"> 
  		    <div class="row">
  		      <div class="col-md-6">
  		        <div class="row">
  		          <%=image_tag n.file.url("original"), :class =>"img-responsive"%>
  		        </div>
  		      </div>
  		      <div class="col-md-6">
  		        <div class="row">
        		    <%=radio_button_tag :module_key, n.id, nil, :class => "input_radio"%> 
        		    <i><%=n.description%></i> <br/>
  		        </div>
  		      </div>
          </div>
  	    </div>
	    <%end%>
	  </div>
	</div>

<%elsif @Webpart.webtype == "6"%>
	<!-- BANNER -->
	<label>Escolha o Banner</label><br />
    <%Banner.all_published.each do |b|%>
		<%=radio_button_tag :module_key, b.id, nil, :class => "input_radio"%> <%=b.file_file_name%> <i>(<%=b.name%>)</i> <br/>
	<%end%>

<%elsif (@Webpart.webtype == "5") or (@Webpart.webtype == "9")%>
	<!-- BANNER -->
	<label>Escolha a Galeria</label><br />
    <%Gallery.all_published.each do |g|%>
		<%=radio_button_tag :module_key, g.id, nil, :class => "input_radio"%> <%=g.name%> <i>(<%=g.description%>)</i> <br/>
	<%end%>
<%end%>