<% title @template.name+" / "+ @webmodule.webpart.name%>

<h1><%= @template.name+"  / "+ @webmodule.webpart.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.webmodule.messages.show')%></p><br />
<br />
<p>
  <strong><%=show_model_name(::Webpart)+" "+t('attributes.name') %>:</strong>
  <%= @webmodule.webpart.name %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.webmodule.position' %>:</strong>
  <%= @webmodule.position %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.webmodule.module_key' %>:</strong><br />
  <%= @webmodule.module_key %>
</p>
<p>
  <strong><%=t 'attributes.published' %>:</strong>
  <%= print_active(@webmodule.published) %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_template_webmodules_path(@template)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>