<%content_for :head do%>
	<%= include_tiny_mce_if_needed %>
	<%= javascript_include_tag "jquery.limit-1.2.source.js" %>
	<script>
		jQuery(document).ready(function() 
		    { 
		        jQuery('#text_summary').limit('140','#left');
		    } 
		);
	</script>
<%end%>
<div id="Box_form">
<%= form_for ([:admin, @category, @subcategory, @content]) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :template_id %>
	<%= f.collection_select :template_id,@templates,:id,:name%> 
  </p>
  <p>
    <%= f.label :content %><br />
    <%= f.text_area :content, :class => "mceEditor"%>
  </p>

  <p>
    <%= f.label :summary %><br />
    <%= f.text_area :summary, :id=>"text_summary" %>
  </p>
  <p>
	Ainda restam <span id="left"></span> caracteres a serem digitados.
  </p>
  <p>
    <%= f.label :published %>
    <%= f.check_box :published %>
  </p>
  <p>
    <%= f.label :menu_display %>
    <%= f.check_box :menu_display %>
  </p>
  <br />
  <p><%= submit_tag "Voltar",:type=>"button",:onclick=>"window.open('"+admin_category_subcategory_contents_path(@category, @subcategory)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%> <%= f.submit "Salvar", :class => "Bt_enviar" %></p>
<% end %>
</div>
