<% title (@subcategory.name)+" - "+ show_model_name(::Content, true) %>

<h1><%= (@subcategory.name)+" - "+ show_model_name(::Content, true) %></h1><br />
<p><%= t('activerecord.attributes.content.messages.index')%></p><br />
<br />
<p style="text-align: right;"><%= submit_tag t('attributes.create_new'),:type=>"button",:onclick=>"window.open('"+new_admin_category_subcategory_content_path(@category, @subcategory)+"','_self');", :class => "Bt_enviar"%> </p>
<br />
<table cellspacing="0" class="tablesorter" width="80%">
	<thead> 
		<tr>
			<th style="width:20%;"><%=t('attributes.name') %></th>
			<th style="width:20%;"><%=show_model_name(::Template)+" "+t('attributes.name') %></th>			
			<th style="width:16%;"><%=t('attributes.published') %> ?</th>
			<th style="width:18%;"><%=t 'attributes.menu_display' %> ?</th>			
			<th colspan="3" style="width:26%;"><%=t 'attributes.actions' %></th>
		</tr>
	</thead> 
	<tbody>
	  <% for content in @contents %>
	<tr <%='class=notactive' if !content.published%>>
	      <td><%= content.name %></td>
		  <td><%= content.template.name if !content.template.blank? %></td>
	      <td><%= print_active(content.published) %></td>
		  <td><%= print_active(content.menu_display) %></td>
	      <td><%= link_to t('attributes.showing'), admin_category_subcategory_content_path(@category, @subcategory, content) %></td>
	      <td><%= link_to t('attributes.editing'), edit_admin_category_subcategory_content_path(@category,@subcategory, content) %></td>
	      <td><%= link_to t('attributes.exclude'), admin_category_subcategory_content_path(@category, @subcategory, content), :confirm => t('system_messages.notice_to_delete'), :method => :delete %></td>	
	    </tr>
	  <% end %>
	</tbody>
</table>
<p class="p_index">
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_category_subcategories_path(@category)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>