<% title @category.name+" / "+ @content.name%>

<h1><%= @category.name+"  / "+ @content.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.content.messages.show')%></p><br />
<br />
<p>
  <strong><%=show_model_name(::Template)+" "+t('attributes.name') %>:</strong>
  <%= @content.template.name if !@content.template.blank?%>
</p>
<p>
  <strong><%=t('attributes.name') %>:</strong>
  <%= @content.name %>
</p>
<p>
  <strong><%=t('activerecord.attributes.content.content') %>:</strong>
</p>
<div class="div_show_textarea">
  <%=raw @content.content %>	
</div>
<p>
  <strong><%=t('activerecord.attributes.content.summary') %>:</strong><br />
  <%= @content.summary%>
</p>
<p>
  <strong><%=t('activerecord.attributes.content.icon_menu') %>:</strong><br />
  <%= image_tag(@content.icon_menu.url(:menu_size))%>
</p>
<p>
  <strong><%=t 'attributes.published' %>:</strong>
  <%= print_active(@content.published) %>
</p>
<p>
  <strong><%=t 'attributes.menu_display' %>:</strong>
  <%= print_active(@content.menu_display) %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_category_subcategory_contents_path(@category, @subcategory)+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>