<% title "Admin/Content" %>

<p>
  <strong>Subcategory:</strong>
  <%= @content.subcategory_id %>
</p>
<p>
  <strong>Template:</strong>
  <%= @content.template_id %>
</p>
<p>
  <strong>Content:</strong>
  <%= @content.content %>
</p>
<p>
  <strong>Active:</strong>
  <%= @content.active %>
</p>
<p>
  <strong>Published:</strong>
  <%= @content.published %>
</p>

<p>
  <%= link_to t('attributes.editing'), edit_admin_content_path(@content) %> |
  <%= link_to t('attributes.exclude'), [:admin, @content], :confirm => 'Esta operação não poderá ser desfeita, deseja continuar?', :method => :delete %> |
  <%= link_to "View All", admin_contents_path %>
</p>
