<%content_for :head do%>
	<%= stylesheet_link_tag "imprensa"%>
	<%= stylesheet_link_tag "passo1"%>
<%end%>

<div id="Box_left">
    <div class="Content_top">            
        <h1 class="Title_item_orange">Ingressos</h1>
		<% if (@ticket_homes.count > 0)%>
		<h3 class="Title_item_green"><%=@ticket_homes.first.name%></h3>
        <div class="Text_grey">
	        <%=raw(@ticket_homes.first.content)%>
			<br />
			<%= link_to(image_tag("bt_comprar_online.png"),ingressos_selecione_index_path) if @tickets.count > 0%>
		</div>
		<%else%>
		<h3 class="Title_item_green">Compre seu ingresso!</h3>
        <div class="Text_grey">
			<br />
			<%= link_to(image_tag("bt_comprar_online.png"),ingressos_selecione_index_path)  if @tickets.count > 0%>
		</div>		
		<%end%>
	</div>
    <div class="Content_midle">
	  
    </div><!-- end Content_midle -->
	<% if (!@Position16.blank? or !@Position17.blank? or !@Position18.blank?)%>
       <div class="Content_bottom">
		<h1 class="Title_item_orange">Veja também</h1>	
           <div class="Box_imprensa_content">
			<%if !@Position16.blank?%> 
               <div class="Box_bottom_imprensa">
				<%=render_webpart(@Position16)%>
               </div> 
			<%end%>
			<%if !@Position17.blank?%>
               <div class="Box_bottom_imprensa">
				<%=render_webpart(@Position17)%>
               </div>
			<%end%>
			<%if !@Position18.blank?%>
               <div class="Box_bottom_imprensa">
				<%=render_webpart(@Position18)%>
               </div> 
               <%end%>                 
           </div>        
       </div>            
	<%end%>
  </div><!-- end Box_left -->
  <div id="Box_right">        
<% if (!@Position12.blank? or !@Position13.blank? or !@Position14.blank? or !@Position15.blank?)%>        
    <%if !@Position12.blank?%> 
	<div class="Content_pub">
		<%=render_webpart(@Position12)%> 
	 </div>
	<%end%>

    <%if !@Position13.blank?%> 
	<div class="Content_pub">
		<%=render_webpart(@Position13)%> 
	</div>             
    <%end%>

	<!-- ENQUETE --> 
	<%if !@Position14.blank?%> 

		<%=render_webpart(@Position14)%> 
	<!-- <div class="Content_pull">
		<h1 class="Title_pull_red">Enquete<span class="Img_h1_pull_1"></span></h1>
        <div class="Pull_item_box">
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
            <div class="clear"></div>
        </div>   
        <div class="Pull_item_box">    
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>  
            <div class="clear"></div>                                
        </div>   
        <div class="Pull_item_box">
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
            <div class="clear"></div>
        </div>   
        <a class="Btn_pull_send"></a>     	
     </div>  -->
	<%end%>
    <!-- ENQUETE --> 

	<%if !@Position15.blank?%>
		<%=render_webpart(@Position15)%>
		<!-- <div class="Content_weather">
    		<h1 class="Title_weat_red">Previsão do Tempo</h1>
    	 </div> -->
	<%end%> 

<% end %>
       <div class="clear"></div>                         
  </div><!-- end Box_right -->