<% title show_model_name(::Guide, true) %>

<h1><%= show_model_name(::Guide, true) %></h1><br />
<p><%= t('activerecord.attributes.guide.messages.index')%></p><br />
<br /> 

<div id="search">
<p>Informe o codigo, nome, endereço, cidade, estado ou cep do guia.</p>
<%=form_tag '/admin/guides/search', :method => :get, :name=>"formkeyword"%>
	<%=text_field_tag :keyword, nil ,:style => "width:400px;"%>
	<%=submit_tag "Buscar", :class => "Bt_enviar"%>
	<%=submit_tag "Todos",:type=>"button",:onclick=>"window.open('"+admin_guides_path()+"','_self');", :class => "Bt_enviar"%>
</form>
<br><br>
</div>

<p style="text-align: right;"><%= submit_tag t('attributes.create_new'),:type=>"button",:onclick=>"window.open('"+new_admin_guide_path+"','_self');", :class => "Bt_enviar"%> </p>
<br />
<table cellspacing="0" class="tablesorter" width="80%">
    <thead>
      <tr>
        <th style="width:20%;"><%=t 'attributes.name' %></th>
        <th style="width:20%;"><%=t 'activerecord.attributes.guide.email' %></th>
        <th style="width:14%;"><%=t 'activerecord.attributes.guide.city' %></th>
        <th style="width:14%;"><%=t 'activerecord.attributes.guide.state' %></th>
        <th style="width:12%;"><%=t 'activerecord.attributes.guide.reminder' %></th>
        <th colspan="3" style="width:20%;"><%=t 'attributes.actions' %></th>
      </tr>
    </thead>
    <tbody>
  <% for guide in @guides %>
    <tr <%='class=notactive' if guide.reminder%>>
      <td><%= guide.name %></td>
      <td><%= guide.email %></td>
      <td><%= guide.city %></td>
      <td><%= guide.state %></td>      
      <td><%= print_active(guide.reminder) %></td>
      <!-- <td><%#= link_to "Visualizar", [:admin, guide] %></td>-->
      <td><%= link_to "Editar", edit_admin_guide_path(guide) %></td>
      <td><%= link_to "Excluir", [:admin, guide], :confirm => 'Tem certeza?', :method => :delete %></td>
    </tr>
  <% end %>
  <tbody>
</table>
<%= will_paginate @posts %>
