<%content_for :head do%>
	<%= stylesheet_link_tag "template"%>
	<%= stylesheet_link_tag "template_screen_768", :media=>"screen and (max-width:768px)"%>
	<%= stylesheet_link_tag "template_screen_480", :media=>"screen and (max-width:480px)"%>
	<%= javascript_include_tag "carousel_principal.js" %>
<%end%>    
    <div id="Box_left">
		 <% if (!@Position1.blank? or !@Position2.blank? or !@Position3.blank? or !@Position4.blank?)%>
		 <!-- Inicio Content_top-->		
    	 <div class="Content_top">
			 <% if (!@Position1.blank?)%>
    		 <div class="Highlights_top">
             	 <div class="Content_highlights_top">
                 	<%=raw @Position1 %>
                 </div>
             </div>
			<% end %>
			<% if (!@Position2.blank? or !@Position3.blank? or !@Position4.blank?)%>
             <div class="Tabs_top">
				<% if !@Position2.blank?%>
             	<div class="Item_tabs_top">
					<%=raw @Position2 %>
                </div>
				<% end %>
				
				<% if !@Position3.blank?%>
             	<div class="Item_tabs_top">
					<%=raw @Position3 %>
                </div>
				<% end %>
				
				<% if !@Position4.blank?%>
             	<div class="Item_tabs_top">
					<%=raw @Position4 %>
                </div>
				<% end %>								                                      
             </div>
			 <% end %>
    	 </div>
		<!-- Fim Content_top-->
		 <% end %>
		

		 <% if (!@Position5.blank? or !@Position6.blank? or !@Position7.blank?)%>	
		<!-- Inicio Content_midle-->					
    	 <div class="Content_midle">
			<% if !@Position5.blank?%>
	         	<div class="Box_midle">
					<%=raw @Position5 %>
	            </div>
			<% end %>         
			<% if !@Position6.blank?%>
    		 <div class="Box_midle">
					<%=raw @Position6 %>	
             </div>
			<% end %> 
			<% if !@Position7.blank?%>			
    		 <div class="Box_midle">
					<%=raw @Position7%>
             </div>  
			<% end %>                                 
    	 </div>
		<!-- Fim Content_midle-->
		<% end %>

		 <% if ( !@Position8.blank? or !@Position9.blank? or !@Position10.blank? or !@Position11.blank?)%>	
		<!-- Inicio Content_bottom-->				
    	 <div class="Content_bottom">
			 <% if ( !@Position8.blank? or !@Position9.blank? or !@Position10.blank?)%>	
             <div class="C_bot_left_box">
				<% if !@Position8.blank?%>
                <div class="Newsletter_bottom">
                	<h1 class="Title_newa_red">Newslwtter<span class="Img_h1_news_1"></span></h1>
                    <a class="Btn_news_send"></a> 
                    <p class="Text_news">Do you see a slender plastic tag clipped to my shirt with my name printed on it? </p>
                    <input name="campo" type="text"></input>                    
                </div>
				<% end %>
				<% if !@Position9.blank?%>
                <div class="Item_pub_bottom">
                	Publicidade
                </div>  
				<% end %>
				<% if !@Position10.blank?%>
                <div class="Item_pub_bottom">
                	Publicidade
                </div>   
                <% end %>
             </div>   
			 <% end %>
		     <% if !@Position11.blank? %>				
             <div class="C_bot_gallery_box">
             	<h1 class="Title_gal_red">Galeria<span class="Img_h1_gal_1"></span></h1>           
                <div id="Gallery_home_box">	<!--start Gallery_home_box-->
                    <div id="slideshow-main">
                        <ul>
                            <li class="p1 active">
                                <a href="#">
                                    <img src="images/1_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p2">
                                <a href="#">
                                    <img src="images/2_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p3">
                                <a href="#">
                                    <img src="images/3_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p4">
                                <a href="#">
                                    <img src="images/4_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p5">
                                <a href="#">
                                    <img src="images/5_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p6">
                                <a href="#">
                                    <img src="images/6_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                            <li class="p7">
                                <a href="#">
                                    <img src="images/7_big.gif" width="476" height="312" alt=""/>
                                    <span class="opacity"></span>
                                    <span class="content"><h1></h1><p></p></span>
                                </a>
                            </li>
                        </ul>										
                    </div>                                
                    <div id="slideshow-carousel">				
                          <ul id="carousel" class="jcarousel jcarousel-skin-tango">
                            <li><a href="#" rel="p1"><img src="images/1.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p2"><img src="images/2.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p3"><img src="images/3.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p4"><img src="images/4.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p5"><img src="images/5.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p6"><img src="images/6.gif" width="106" height="71" alt="#"/></a></li>
                            <li><a href="#" rel="p7"><img src="images/7.gif" width="106" height="71" alt="#"/></a></li>
                          </ul>
                    </div>            
                    <div class="clear"></div>
                </div> <!--End Gallery_home_box-->  
                                   
             </div>
			 <% end %>
    	 </div>
		<!-- Fim Content_bottom-->
		<% end %>
 
         <div class="clear"></div>                             
    </div><!-- end Box_left --> 



    <div id="Box_right">  
		 <% if (!@Position12.blank? or !@Position13.blank? or !@Position14.blank? or !@Position15.blank?)%>	      
         <div class="Content_pub">
    		public 
    	 </div>
         <div class="Content_pub">
    		public 
    	 </div>             
         <div class="Content_pull">
    		<h1 class="Title_pull_red">Enquete<span class="Img_h1_pull_1"></span></h1>
            <div class="Pull_item_box">
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
                <div class="clear"></div>
            </div>   
            <div class="Pull_item_box">    
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>  
                <div class="clear"></div>                                
            </div>   
            <div class="Pull_item_box">
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
                <div class="clear"></div>
            </div>   
            <a class="Btn_pull_send"></a>      	
         </div> 
         <div class="Content_weather">
    		<h1 class="Title_weat_red">Previsão do Tempo</h1>
    	 </div>   
		 <% end %>
         <div class="clear"></div>                         
    </div><!-- end Box_right -->  

