<%content_for :head do%>
	<%= stylesheet_link_tag "template"%>
	<%= stylesheet_link_tag "template_screen_768", :media=>"screen and (max-width:768px)"%>
	<%#= stylesheet_link_tag "template_screen_480", :media=>"screen and (max-width:480px)"%>
	<%= javascript_include_tag "carousel_principal.js" %>
<%end%>    
    <div id="Box_left">
		 <% if (!@Position1.blank? or !@Position2.blank? or !@Position3.blank? or !@Position4.blank?)%>
		 <!-- Inicio Content_top-->		
    	 <div class="Content_top">
			 <% if (!@Position1.blank?)%>
    		 <div class="Highlights_top">
             	 <div class="Content_highlights_top">
                 	<%=render_webpart(@Position1)%>
					<%#=raw @Position1 %>
                 </div>
             </div>
			<% end %>
			<% if (!@Position2.blank? or !@Position3.blank? or !@Position4.blank?)%>
             <div class="Tabs_top">
				<% if !@Position2.blank?%>
             	<div class="Item_tabs_top">
					<%=render_webpart(@Position2)%>
					<%#=raw @Position2 %>
                </div>
				<% end %>
				
				<% if !@Position3.blank?%>
             	<div class="Item_tabs_top">
					<%=render_webpart(@Position3)%>
                </div>
				<% end %>
				
				<% if !@Position4.blank?%>
             	<div class="Item_tabs_top">
					<%=render_webpart(@Position4)%>
                </div>
				<% end %>								                                      
             </div>
			 <% end %>
    	 </div>
		<!-- Fim Content_top-->
		 <% end %>
		

		 <% if (!@Position5.blank? or !@Position6.blank? or !@Position7.blank?)%>	
		<!-- Inicio Content_midle-->					
    	 <div class="Content_midle">
			<% if !@Position5.blank?%>
	         	<div class="Box_midle">
					<%=raw @Position5 %>
	            </div>
			<% end %>         
			<% if !@Position6.blank?%>
    		 <div class="Box_midle">
					<%=raw @Position6 %>	
             </div>
			<% end %> 
			<% if !@Position7.blank?%>			
    		 <div class="Box_midle">
					<%=raw @Position7%>
             </div>  
			<% end %>                                 
    	 </div>
		<!-- Fim Content_midle-->
		<% end %>

		 <% if ( !@Position8.blank? or !@Position9.blank? or !@Position10.blank? or !@Position11.blank?)%>	
		<!-- Inicio Content_bottom-->				
    	 <div class="Content_bottom">
			 <% if ( !@Position8.blank? or !@Position9.blank? or !@Position10.blank?)%>	
             <div class="C_bot_left_box">
				<% if !@Position8.blank?%>
					<%=render_webpart(@Position8)%>
                <!-- <div class="Newsletter_bottom">
                	<h1 class="Title_newa_red">Newslwtter<span class="Img_h1_news_1"></span></h1>
                    <a class="Btn_news_send"></a> 
                    <p class="Text_news">Do you see a slender plastic tag clipped to my shirt with my name printed on it? </p>
                    <input name="campo" type="text"></input>                    
                </div>-->
				<% end %>
				<% if !@Position9.blank?%>
                <div class="Item_pub_bottom">
                	<%=render_webpart(@Position10)%>
                </div>  
				<% end %>
				<% if !@Position10.blank?%>
                <div class="Item_pub_bottom">
                	<%=render_webpart(@Position10)%>
                </div>   
                <% end %>
             </div>   
			 <% end %>
		     <% if !@Position11.blank? %>				
             <div class="C_bot_gallery_box">
             	<%=render_webpart(@Position11)%>         
             </div>
			 <% end %>
    	 </div>
		<!-- Fim Content_bottom-->
		<% end %>
 
         <div class="clear"></div>                             
    </div><!-- end Box_left --> 



    <div id="Box_right">  
		 <% if (!@Position12.blank? or !@Position13.blank? or !@Position14.blank? or !@Position15.blank?)%>	      
        <%if !@Position12.blank?%> 
		<div class="Content_pub">
    		<%=render_webpart(@Position12)%> 
    	 </div>
		<%end%>

        <%if !@Position13.blank?%> 
		<div class="Content_pub">
    		<%=render_webpart(@Position13)%> 
    	</div>             
        <%end%>

		<!-- ENQUETE --> 
		<%if !@Position14.blank?%> 
		<div class="Content_pull">
    		<h1 class="Title_pull_red">Enquete<span class="Img_h1_pull_1"></span></h1>
            <div class="Pull_item_box">
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
                <div class="clear"></div>
            </div>   
            <div class="Pull_item_box">    
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>  
                <div class="clear"></div>                                
            </div>   
            <div class="Pull_item_box">
                <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
                <div class="clear"></div>
            </div>   
            <a class="Btn_pull_send"></a>      	
         </div> 
		<%end%>
        <!-- ENQUETE --> 

		<%if !@Position15.blank?%>
			<%=render_webpart(@Position15)%>
			<!-- <div class="Content_weather">
	    		<h1 class="Title_weat_red">Previsão do Tempo</h1>
	    	 </div> -->
		<%end%> 
		  
		 <% end %>
         <div class="clear"></div>                         
    </div><!-- end Box_right -->  

