<% title "Admin/Movie" %>

<p>
  <strong>Content:</strong>
  <%= @movie.content_id %>
</p>
<p>
  <strong>Name:</strong>
  <%= @movie.name %>
</p>
<p>
  <strong>Link:</strong>
  <%= @movie.link %>
</p>
<p>
  <strong>Description:</strong>
  <%= @movie.description %>
</p>
<p>
  <strong>Active:</strong>
  <%= @movie.active %>
</p>
<p>
  <strong>Published:</strong>
  <%= @movie.published %>
</p>

<p>
  <%= link_to t('attributes.editing'), edit_admin_movie_path(@movie) %> |
  <%= link_to t('attributes.exclude'), [:admin, @movie], :confirm => 'Esta operação não poderá ser desfeita, deseja continuar?', :method => :delete %> |
  <%= link_to "View All", admin_movies_path %>
</p>
