<% title "Admin/Module" %>

<p>
  <strong>Template:</strong>
  <%= @module.template_id %>
</p>
<p>
  <strong>Webpart:</strong>
  <%= @module.webpart_id %>
</p>
<p>
  <strong>Position:</strong>
  <%= @module.position %>
</p>
<p>
  <strong>Module Key:</strong>
  <%= @module.module_key %>
</p>
<p>
  <strong>Active:</strong>
  <%= @module.active %>
</p>
<p>
  <strong>Published:</strong>
  <%= @module.published %>
</p>

<p>
  <%= link_to "Edit", edit_admin_module_path(@module) %> |
  <%= link_to "Destroy", [:admin, @module], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_modules_path %>
</p>
