<div id="Box_form">
<%= form_for [:admin, @ticket] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"form-control" %>
  </p>
  <p>
    <%= f.label :ticket_date %>
    <%= f.date_select :ticket_date, :class=>"form-control" %>
  </p>
  <p>
    <%= f.label :price %>
    <%= f.text_field :price, :class=>"form-control" %>
  </p>
  <p>
    <%= f.label :ticket_type_id %>
    <%= f.select :ticket_type_id, @ticket_types, :prompt => "Escolha o tipo", :class=>"form-control" %> <%=link_to t('attributes.add_new'), new_admin_ticket_type_path, :class=>"btn btn-primary"%>
  </p>
  <p>
    <%= f.label :ticket_category_id %>
    <%= f.select :ticket_category_id, @ticket_categories, :prompt => "Escolha a categoria" %> <%=link_to t('attributes.add_newf'), new_admin_ticket_category_path, :class=>"btn btn-primary"%>
  </p>
  <p>
    <%= f.label :above %>
    <%= f.text_field :above, :class => "small_input" %>

    <%= f.label :discount %>
    <%= f.text_field :discount, :class => "small_input" %>
  </p>
  <p>
    <%= f.label :published %>
    <%= f.check_box :published %>
  </p>
  <br />
  <p class="box-footer">
    <%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_tickets_path+"','_self');", :class => "btn btn-default", :style=>"margin-right: 5px;"%> 
    <%= f.submit nil, :class => "btn btn-default" %>
  </p>
<% end %>
</div>
