<%= form_for [:admin, @gallery, @gallery_image] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :legend %><br />
    <%= f.text_field :legend %>
  </p>
  <p>
    <%= f.label :upload_id %><br />
    <div id="UploadImages">
    	<%@upload_images.each do |u|%>
			<%=f.radio_button :upload_id, u.id, :class => "input_radio"%> <%=image_tag u.file(:thumb)%> <br>
		<%end%>
    </div>
  </p>
  <p>
    <%= f.label :published %><br />
    <%= f.check_box :published %>
  </p>
  <p>Atenção: Os links abaixo só serão processados se a Galeria for do tipo Carrossel!</p>
  <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  <p>
    <%= f.label :link_target %><br />
    <%= f.text_field :link_target %>
  </p>
  <p><%= f.submit %></p>
<% end %>
