<% title "Admin/Gallery Images" %>

<table cellspacing="0" class="tablesorter" width="80%">
  <thead> 
  <tr>
    <th>Galeria</th>
    <th>Legenda</th>
    <th>Arquivo</th>
    <th>Publicado?</th>
  </tr>
  </thead>
  <tbody>
  <% for gallery_image in @gallery_images %>
    <tr>
      <td><%= gallery_image.gallery.name %></td>
      <td><%= gallery_image.legend %></td>
      <td><%= image_tag gallery_image.upload.file(:thumb) %></td>
      <td><%= gallery_image.published %></td>
      <td><%= link_to "Show", [:admin, @gallery, gallery_image] %></td>
      <td><%= link_to "Edit", edit_admin_gallery_gallery_image_path(@gallery, gallery_image) %></td>
      <td><%= link_to "Destroy", [:admin, @gallery, gallery_image], :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to "New Admin/Gallery Image", new_admin_gallery_gallery_image_path(@gallery) %></p>
