<% title "Admin/Gallery Image" %>

<p>
  <strong>Gallery:</strong>
  <%= @gallery_image.gallery_id %>
</p>
<p>
  <strong>Legend:</strong>
  <%= @gallery_image.legend %>
</p>
<p>
  <strong>Upload:</strong>
  <%= @gallery_image.upload_id %>
</p>
<p>
  <strong>Active:</strong>
  <%= @gallery_image.active %>
</p>
<p>
  <strong>Published:</strong>
  <%= @gallery_image.published %>
</p>

<p>
  <%= link_to "Edit", edit_admin_gallery_gallery_image_path(@gallery, @gallery_image) %> |
  <%= link_to "Destroy", [:admin,@gallery, @gallery_image], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_gallery_gallery_images_path(@gallery) %>
</p>
