<% show_model_name(::Configuration, true) %>

<section class="content-header">
  <h1>
  <%= show_model_name(::Configuration, true) %>
    <br/>
    <small><%= t('activerecord.attributes.configuration.messages.show')%></small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active"> </li> 
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <p>
        <strong><%=t 'activerecord.attributes.configuration.logo' %>:</strong>
        <%= image_tag(@configuration.logo.url) if @configuration.logo.file?%>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.highlighted' %>:</strong><br />
        <%= image_tag(@configuration.highlighted.url) if @configuration.highlighted.file?%>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.email_adm' %>:</strong>
        <%= @configuration.email_adm %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.email_compras' %>:</strong>
        <%= @configuration.email_compras %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.email_contato' %>:</strong>
        <%= @configuration.email_contato %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.email_imprensa' %>:</strong>
        <%= @configuration.email_imprensa %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.copyright' %>:</strong>
        <%= @configuration.copyright %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.address' %>:</strong>
        <%= @configuration.address %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.phone' %>:</strong>
        <%= @configuration.phone %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.schedule' %>:</strong>
        <%= @configuration.schedule %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.twitter' %>:</strong>
        <%= @configuration.twitter %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.facebook' %>:</strong>
        <%= @configuration.facebook %>
      </p>
      <p>
        <strong><%=t 'activerecord.attributes.configuration.youtube' %>:</strong>
        <%= @configuration.youtube %>
      </p>
      <br />
      <div class="box-footer">
        <p style="float:left;">
          <%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_root_path+"','_self');", :class => "btn btn-default", :style=>"margin-right: 5px;"%>
        </p>
        <p style="float:left;">
	        <%= submit_tag t('attributes.edit'),:type=>"button",:onclick=>"window.open('"+edit_admin_configuration_path+"','_self');", :class => "btn btn-default", :style=>"margin-right: 5px;"%>
        </p>
        <p style="float:left;" class="Bt_enviar">
          <%= link_to t('attributes.exclude'), admin_configuration_path(@configuration), :confirm => t('system_messages.notice_to_delete'), :method => :delete, :class => "btn btn-default"%>
        </p>
        <br />
      </div>
    </div>    
  </div>
</section>





<br />
<br />



<div class"clear"></div>

