<% title "Admin/Uploads" %>
<section class="content-header">
  <h1>Uploads
    <br/>
    <small>Verifique abaixo a lista de uploads</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active"> Uploads </li> 
  </ol>
</section>

<section class="content">
  <p><%= link_to "Novo Upload", new_admin_upload_path, :class=>"btn btn-primary" %></p>
  <div class="box">
    <div class="box-body table-responsive no-padding">
      <table cellspacing="0" class="table table-hover" width="80%">
        <thead> 
        <tr>
          <th>Descrição</th>
          <th>Categoria</th>
          <th>Tipo</th>
          <th>Publicado?</th>
        </tr>
        </thead> 
        <tbody>
        <% for upload in @uploads %>
          <tr>
            <td><%= upload.description %></td>
            <td><%= upload.upload_category.name %></td>
            <td><%= upload.file_content_type %></td>
	        <td><%= upload.published %></td>
            <td><%= link_to "Visualizar", [:admin, upload], :class=>"btn btn-default" %></td>
            <td><%= link_to "Editar", edit_admin_upload_path(upload), :class=>"btn btn-default" %></td>
            <td><%= link_to "Excluir", [:admin, upload], :confirm => 'Are you sure?', :method => :delete, :class=>"btn btn-default" %></td>
          </tr>
        <% end %>
        </tbody>
      </table> 
    </div>    
  </div>
</section>
