<% title "Admin/Upload" %>
<section class="content-header">
  <h1> Uploads
    <br/>
    <small>Verifique se as informações abaixo estão corretas</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active"> </li> 
  </ol>
</section>

<section class="content">
  <div class="box">
    <div class="box-body">
      <p>
        <strong>Description:</strong>
        <%= @upload.description %>
      </p>
      <p>
        <strong>Upload Category:</strong>
        <%= @upload.upload_category_id %>
      </p>
      <p>
        <strong>Link para o Download:</strong>
        <%= "http://"+request.env['HTTP_HOST'] + @upload.file.url %>
      </p>
      <p>
        <strong>Published:</strong>
        <%= @upload.published %>
      </p>

      <p class="box-footer">
        <%= link_to "Editar", edit_admin_upload_path(@upload), :class=>"btn btn-default" %> 
        <%= link_to "Excluir", [:admin, @upload], :confirm => 'Are you sure?', :method => :delete, :class=>"btn btn-default" %>
        <%= link_to "Voltar", admin_uploads_path, :class=>"btn btn-default" %>
      </p>
    </div>    
  </div>
</section>
