<% title "Admin/Upload" %>

<p>
  <strong>Description:</strong>
  <%= @upload.description %>
</p>
<p>
  <strong>Upload Category:</strong>
  <%= @upload.upload_category_id %>
</p>
<p>
  <strong>Link para o Download:</strong>
  <%= "http://"+request.env['HTTP_HOST'] + @upload.file.url %>
</p>
<p>
  <strong>Published:</strong>
  <%= @upload.published %>
</p>

<p>
  <%= link_to "Edit", edit_admin_upload_path(@upload) %> |
  <%= link_to "Destroy", [:admin, @upload], :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", admin_uploads_path %>
</p>
