<% title @category.name %>

<h1><%= @category.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.webpart.messages.show')%></p><br />
<br />
<p>
  <strong><%=t 'attributes.name' %>:</strong>
  <%= @category.name %>
</p>
<p>
  <strong><%=t 'attributes.published' %>:</strong>
  <%= print_active(@category.published) %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_categories_path()+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>