<div id="Box_form">
<%= form_for [:admin, @ticket_category] do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name, :class=>"form-control" %>
  </p>
  <p>
    <%= f.label :order %>
    <%= f.text_field :order, :class=>"form-control" %>
  </p>
  <p>
    <%= f.label :published %>
    <%= f.check_box :published, :class=>"form-control" %>
  </p>
  <br />
  <p class="box-footer">
    <%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_ticket_categories_path+"','_self');", :class => "btn btn-default", :style=>"margin-right: 5px;"%> 
    <%= f.submit nil, :class => "btn btn-default" %>
  </p>
<% end %>
</div>
