<% title show_model_name(::TicketCategory, true) %>

<h1><%= show_model_name(::TicketCategory, true) %></h1><br />
<p><%= t('activerecord.attributes.ticket_category.messages.index')%></p><br />
<br />
<p style="text-align: right;"><%= submit_tag t('attributes.create_new'),:type=>"button",:onclick=>"window.open('"+new_admin_ticket_category_path+"','_self');", :class => "Bt_enviar"%> </p>
<br />
<table cellspacing="0" class="tablesorter" width="80%">
	<thead> 
		<tr>
			<th style="width:35%;"><%=t 'activerecord.attributes.ticket_category.name' %></th>	
			<th style="width:20%;"><%=t 'activerecord.attributes.ticket_category.order' %></th>			
			<th style="width:15%;"><%=t 'activerecord.attributes.ticket_category.published' %></th>			
			<!-- <th style="width:10%;"><%#=t 'activerecord.attributes.category.color' %></th> -->
			<th colspan="3" style="width:30%;"><%=t 'attributes.actions' %></th>
		</tr>
	</thead> 
	<tbody>
	<% for ticket_category in @ticket_categories %>
	<tr <%='class=notactive' if !ticket_category.published%>>
		<td><%= ticket_category.name %></td>
		<td><%= ticket_category.order %></td>		
		<td><%= print_active(ticket_category.published) %></td>
		<!-- <td><div style="width:18px; height:18px; background-color:#<%#= category.color %>; border:1px solid"></div></td> -->
		<td><%= link_to t('attributes.showing'), [:admin, ticket_category] %></td>
		<td><%= link_to t('attributes.editing'), edit_admin_ticket_category_path(ticket_category) %></td>
		<td><%= link_to t('attributes.exclude'), [:admin, ticket_category], :confirm => t('system_messages.notice_to_delete'), :method => :delete %></td>
	</tr>
	<% end %>
	</tbody>
</table>