<% title @ticket_category.name %>

<h1><%= @ticket_category.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.ticket_category.messages.show')%></p><br />
<br />
<p>
  <strong><%=t 'activerecord.attributes.ticket_category.name' %>:</strong>
  <%= @ticket_category.name %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.ticket_category.order' %>:</strong>
  <%= @ticket_category.order %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.ticket_category.published' %>:</strong>
  <%= print_active(@ticket_category.published) %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_ticket_categories_path+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>