<% 
	content_for :title do "Usuários" end
%>
<div id="search">
<p>Informe o nome, sobrenome ou e-mail do usuário.</p>
<%=form_tag '/admin/users/search', :method => :get, :name=>"formkeyword"%>
	<%=text_field_tag :keyword, nil ,:style => "width:400px;"%>
	<%=submit_tag "Buscar", :class => "Bt_enviar"%>
</form>
<br><br>
</div>

<table cellspacing="0" class="tablesorter" width="80%">
	<thead> 
		<tr>
    		<th style="width:35%;"><%=t 'attributes.name' %></th>
			<th style="width:30%;">Email</th>
			
			<th colspan="4" style="width:35%;"><%=t 'attributes.actions' %></th>
		</tr>
	</thead> 
	<tbody>
	  <% for user in @users %>
	    <tr>
	      <td><%= user.name %></td>
	      <td><%= user.email%></td>
			
		  <%if User.find(current_user.id).has_role? :admin %>
	      <td><%= link_to t('attributes.showing'), admin_user_path(user) %></td>
	      <td><%= link_to t('attributes.editing'), edit_admin_user_path(user) %></td>
	      <td><%#= link_to t('attributes.exclude'), admin_user_path(user), :confirm => t('system_messages.notice_to_delete'), :method => :delete %></td>
		  <%end%>
		  <td><%= link_to "Verificar Ingressos!", admin_search_path(user) %></td>
	    </tr>
	  <% end %>
	</tbody>
</table>
<%= will_paginate @users %>
<br /><br />
<%= link_to "Exportar CSV", export_admin_users_path(:format => :csv), :class => "Bt_enviar" %>
<%= link_to "Exportar XML", export_admin_users_path(:format => :xml), :class => "Bt_enviar" %>
<%= link_to "Exportar Excel", export_admin_users_path(:format => :xls), :class => "Bt_enviar" %>
<br /><br /><br /><br />
<script>
	document.getElementById('keyword').focus();
</script>