<% 
	content_for :title do "Dados do Usuario" end
%>
<section class="content-header">
  <h1> <%="Dados do Usuario"%>
    <br/>
    <small>Verifique se as informaçẽos abaixo estão corretas</small>
  </h1>

  <ol class="breadcrumb">
    <li>
      <a href="/admin">
        <i class="fa fa-dashboard"></i>
        Home
      </a>
    </li>
    <li class="active"> Usuários </li> 
  </ol>
</section>
<section class="content">
  <div class="box">
    <div class="box-body">
     <p>
        <strong>Nome:</strong>
        <%= @user.name %>
      </p>
      <p>
        <strong>Email:</strong>
        <%= @user.email %>
      </p>
      <p>
        <strong>Cpf:</strong>
        <%= @user.cpf %>
      </p>
      <p>
        <strong>RG:</strong>
        <%= @user.rg %>
      </p>
      <p>
        <strong>Cidade:</strong>
        <%= @user.cidade %>
      </p>
      <p>
        <strong>Estado:</strong>
        <%= @user.estado %>
      </p>
      <p>
        <strong>Deseja receber informações:</strong>
        <%= print_active(@user.receber_info) %>
      </p>
      <p>
        <strong>Sexo:</strong>
        <%= func_sex(@user.gender) %>
      </p>
      <p>
        <strong>Data de Nascimento:</strong>
        <%= I18n.localize(@user.date_of_birth) %>
      </p>
      <br /><br />
      <p class="box-footer">
        <%= link_to t('attributes.editing'), edit_admin_user_path(@user), :class=>"btn btn-default" %> 
        <%#= link_to t('attributes.exclude'), admin_user_path(@user), :confirm => 'Esta operação não poderá ser desfeita, deseja continuar?', :method => :delete %> 
        <%= link_to t('attributes.go_back'), admin_users_path, :class=>"btn btn-default"%>
      </p>
    </div>    
  </div>
</section>


