<% title @guide_visitor.guide.name %>

<h1><%= @guide_visitor.guide.name %></h1><br />
<p><%= t('activerecord.attributes.guide_visitor.messages.show')%></p><br />

<p>
  <strong>Guia:</strong>
  <%= @guide_visitor.guide.name%>
</p>
<p>
  <strong>Data:</strong>
  <%=I18n.localize(@guide_visitor.year, :format => :pdatetime)  %>
  
</p>
<p>
  <strong>Passageiros:</strong>
  <%= @guide_visitor.passengers %>
</p>

<br />
<br />
<br />
<p> 
  <p><%= link_to(t('attributes.go_back'),admin_guide_visitors_path(), :class => "btn btn-lg btn-default" )%></p>  
</p>
