<% title @guide_visitor.guide_id %>

<h1><%= @guide_visitor.guide_id %></h1><br />
<p><%= t('activerecord.attributes.guide_visitor.messages.show')%></p><br />

<p>
  <strong>Guia:</strong>
  <%= @guide_visitor.guide_id %>
</p>
<p>
  <strong>Data:</strong>
  <%= @guide_visitor.year %>
</p>
<p>
  <strong>Visita:</strong>
  <%= @guide_visitor.visit %>
</p>
<p>
  <strong>Passageiros:</strong>
  <%= @guide_visitor.passengers %>
</p>

<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_guide_visitors_path()+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>
