<% title @ticket_type.name %>

<h1><%= @ticket_type.name %></h1><br />
<br />
<p><%= t('activerecord.attributes.ticket_type.messages.show')%></p><br />
<br />
<p>
  <strong><%=t 'activerecord.attributes.ticket_type.name' %>:</strong>
  <%= @ticket_type.name %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.ticket_type.discount' %>:</strong>
  <%= number_to_currency(@ticket_type.discount) %>
</p>
<p>
  <strong><%=t 'activerecord.attributes.ticket_type.published' %>:</strong>
  <%= print_active(@ticket_type.published) %>
</p>
<br />
<br />
<br />
<p>
	<%= submit_tag t('attributes.go_back'),:type=>"button",:onclick=>"window.open('"+admin_ticket_types_path+"','_self');", :class => "Bt_enviar", :style=>"margin-right: 5px;"%>
</p>