<div id="Menu" >
    <ul>
		<% if @Categorias_menu.count > 0
		   	@Categorias_menu.each do |categoria|
		   		subcategorias = categoria.subcategories.all_published_menu%>
        <li>
			<% if !(subcategorias.count > 0)%>
        	<%= link_to categoria.name,"/#{categoria.url_slug}", :class=>"Padrao Shadow_off"%>
			<% else %>
			<%= link_to categoria.name,"/#{categoria.url_slug}", :class=>"Padrao Shadow_off"%>
			<span class="Img_arrow_afesta" style="background-color:#<%=categoria.color%>"></span>
            <div class="Submenu_padrao Submenu_show" style="border-top:#<%=categoria.color%> 6px solid; border-bottom:#<%=categoria.color%> 6px solid;">
				 <% 
					subcategorias.each do |subcategoria| 
						conteudos = subcategoria.contents.all_published_menu
						if conteudos.count > 0
				 %>
				 <div class="Box_Submenu_show">
					 <div class="Tit_box" style="color:#<%=categoria.color%>!important;"><%=subcategoria.name%></div>
	                 <div class="Content_submenu_top"><!-- start Content_submenu_top-->
						<% conteudos.each do |conteudo|%>
						<a href="/<%= conteudo.subcategory.category.url_slug%>/<%= conteudo.subcategory.url_slug%>/<%= conteudo.url_slug%>">
	                    <div class="Submenu_box">
	                        <div class="Image_submenubox"><%= image_tag(conteudo.icon_menu.url(:menu_size))%></div>
	                        <h2 class="Text_submenubox"><%= conteudo.name%></h2>
	                    </div>
						</a>
						<% end %>
						<div class="clear"></div>                                             
                 </div><!-- end Content_submenu_top-->
				<%  end
					end %>
            </div>  
			<%end%>
        </li>
		<% end 
		end %>
		
		<%	if @Complementos_menu.count > 0 
			@Complementos_menu.each do |complemento_menu| %>
		<!-- Menu Estático -->
		<li><%= link_to complemento_menu.name, complemento_menu.destination, :class=>"Padrao Shadow_off"%>
		<!-- Fim do menu estático -->
		<% end 
		end %>	
    <ul>	
</div>
