<div id="Box_employees_1">
    <div class="Content_realization">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Realização</h1></div>
		<%= image_tag("logo_real_assiciacaohortolandiaatibaia.jpg", :class=>"Swap Item_employees_1_logos")%>
    </div> 
    <div class="Content_support">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Apoio</h1></div>
		<%= image_tag("logo_ap_prefeituraatibaia.jpg", :class=>"Swap Item_employees_1_logos")%>
    </div>
    <div class="Content_sponsors">
    	<div class="Content_title_emp_1"><h1 class="Title_emp_1">Patrocinadores</h1></div>
		<%= image_tag("logo_pat_novaschin.jpg", :class=>"Swap Item_employees_1_logos")%>
		<%= image_tag("logo_pat_santander.jpg", :class=>"Swap Item_employees_1_logos")%>		
    </div>    
    <div class="clear"></div>              
</div><!-- end Box_employees_1 -->             
<div id="Box_employees_2">
	<div class="Content_title_emp_1"><h1 class="Title_emp_2">Colaboradores</h1></div>
		<%= image_tag("logo_col_acenbra.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_sindicatoruralatibaia.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_assprodutoresmorangoatibaia.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_proflor.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_saaeatibaia.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_kicor.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_cielo.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_cvc.jpg", :class=>"Swap Item_employees_2_logos")%>
		<%= image_tag("logo_col_govestadosaopaulo.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_caminhodamoda.jpg", :class=>"Swap Item_employees_2_logos")%>	
		<%= image_tag("logo_col_graal.jpg", :class=>"Swap Item_employees_2_logos")%>
    <div class="clear"></div>
</div><!-- end Box_employees_2 -->