<%content_for :head do%>
<%= stylesheet_link_tag "noticia_int"%>
<%= stylesheet_link_tag "noticia_screen_768", :media=>"screen and (max-width:768px)"%>
<%= stylesheet_link_tag "noticia_screen_480", :media=>"screen and (max-width:480px)"%>
<%= stylesheet_link_tag "jquery.jcarousel_gallery_internal"%>
<%= stylesheet_link_tag "jquery.lightbox-0.5.css"%>
<%= stylesheet_link_tag "skin_gallery_internal"%>
<%= javascript_include_tag "carousel_principal.js" %>
<%= javascript_include_tag "jquery.lightbox-0.5.js" %>
<%end%>
<div id="Box_left">
    <div class="Content_top">            
        <h1 class="Title_item_orange">Notícias</h1>	
        <h2 class="Title_2_item_red">Do you see any Teletubbies in here?</h2>
        <h3 class="Date_content_top">02/12/2011</h3>
            <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
            <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
            <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
            <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
            <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>
            <p class="Text_top_box">Now that there is the Tec-9, a crappy spray gun from South Miami. This gun is advertised as the most popular gun in American crime. Do you believe that shit? It actually says that in the little book that comes with it: the most popular gun in American crime. Like they're actually proud of that shit.</p><br/>                
        
    </div>
    <div class="Content_midle">
		<span class="Title_field_bmidle"><span class="Img_h1_gal_int_1"></span><h1 class="Title_gal_orange">Do you believe that shit? It actually says that in the little book that comes with it: the most </h1></span>	                      
       <div class="clear"></div> 
        <div id="Gallery_internal_box">	       
            <div id="slideshow-carousel">				
                  <ul id="carousel" class="jcarousel jcarousel-skin-tango">
                    <li><a href="images/5_big.gif" rel="p1"><img src="images/1.gif" width="129" height="141" alt="#"/></a></li>
                    <li><a href="images/5_big.gif" rel="p2"><img src="images/2.gif" width="129" height="141" alt="#"/></a></li>
                    <li><a href="images/5_big.gif" rel="p3"><img src="images/3.gif" width="129" height="141" alt="#"/></a></li>
                    <li><a href="images/5_big.gif" rel="p4"><img src="images/4.gif" width="129" height="141" alt="#"/></a></li>
                    <li><a href="images/5_big.gif" rel="p5"><img src="images/5.gif" width="129" height="141" alt="#"/></a></li>
                    <li><a href="images/5_big.gif" rel="p6"><img src="images/6.gif" width="129" height="141" alt="#"/></a></li>
                    <li><a href="images/5_big.gif" rel="p7"><img src="images/7.gif" width="129" height="141" alt="#"/></a></li>
                  </ul>
            </div>    
        </div> 
        <div class="clear"></div>         
   </div><!-- end Content_midle -->
    <div class="Content_bottom">
		<span class="Title_field_bottom"><span class="Img_h1_video_int_1"></span><h1 class="Title_video_orange">Videos relacionados</h1></span>
        <div class="Box_videos_content">
            <div class="Box_bottom_video">
            	<h2 class="Tit_box_bot_videos">loren ipsum siamet</h2>
            	<div class="Content_box_bot_videos">
 					<div class="Image_box_videos"> <img src="images/img_stand_videos.jpg" width="109" height="78"></div> 
                    <div class="Text_info_box_videos">Me! I should've known way back when... You know why,</div>          
                </div>                        
                <span class="Date_box_bot_videos">02/12/2011</span>
            </div> 
            <div class="Box_bottom_video">
            	<h2 class="Tit_box_bot_videos">loren ipsum siamet</h2>
            	<div class="Content_box_bot_videos">
 					<div class="Image_box_videos"> <img src="images/img_stand_videos.jpg" width="109" height="78"></div> 
                    <div class="Text_info_box_videos">Me! I should've known way back when... You know why,</div>          
                </div>                        
                <span class="Date_box_bot_videos">02/12/2011</span>
            </div> 
            <div class="Box_bottom_video">
            	<h2 class="Tit_box_bot_videos">loren ipsum siamet</h2>
            	<div class="Content_box_bot_videos">
 					<div class="Image_box_videos"> <img src="images/img_stand_videos.jpg" width="109" height="78"></div> 
                    <div class="Text_info_box_videos">Me! I should've known way back when... You know why,</div>          
                </div>                        
                <span class="Date_box_bot_videos">02/12/2011</span>
            </div>                                         
        </div>        
    </div>            
</div><!-- end Box_left --> 
<div id="Box_right">        
     <div class="Content_pub">
		public 
	 </div>
     <div class="Content_pub">
		public 
	 </div>             
     <div class="Content_pull">
		<h1 class="Title_pull_red">Enquete<span class="Img_h1_pull_1"></span></h1>
        <div class="Pull_item_box">
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
            <div class="clear"></div>
        </div>   
        <div class="Pull_item_box">    
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>  
            <div class="clear"></div>                                
        </div>   
        <div class="Pull_item_box">
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
            <div class="clear"></div>
        </div>   
        <a class="Btn_pull_send"></a>      	
     </div>  
     <div class="Content_weather">
		<h1 class="Title_weat_red">Previsão do Tempo</h1>
	 </div>   
     <div class="clear"></div>                         
</div><!-- end Box_right --> 
