<%content_for :head do%>
	<%= stylesheet_link_tag "noticia"%>
	<%= javascript_include_tag "carousel_principal.js" %>	
<%end%>
<% title @categoria.first.name %>
<% cor = @categoria.first.color %>
<div id="Box_left">
	<% if (!@Position1.blank? or !@Position2.blank? or !@Position3.blank? or !@Position4.blank?)%>	
	<div class="Content_top">
		<% if (!@Position1.blank?)%>
		<div class="Highlights_top">
			<div class="Content_highlights_top">
				<%=render_webpart(@Position1)%>
			</div>
		</div>
		<% end %>
		<% if (!@Position2.blank? or !@Position3.blank? or !@Position4.blank?)%>
		<div class="Tabs_top">
			<% if !@Position2.blank?%>
         	<div class="Item_tabs_top">
				<%=render_webpart(@Position2)%>
            </div>
			<% end %>
			
			<% if !@Position3.blank?%>
         	<div class="Item_tabs_top">
				<%=render_webpart(@Position3)%>
            </div>
			<% end %>
			
			<% if !@Position4.blank?%>
         	<div class="Item_tabs_top">
				<%=render_webpart(@Position4)%>
            </div>
			<% end %>								                                      
		</div>
		<% end %>
	</div>
	<% end %>

	 <% if @conteudos.count > 0 %>	
	 <div class="Content_midle">	
	 <% @conteudos.each do |show|%>
		<% if !(@noticiasrel.include?(show.id.to_s))%>
		 <a href="/<%= show.subcategory.category.url_slug%>/<%= show.subcategory.url_slug%>/<%= show.url_slug%>">
		 <div class="Box_midle">
         	<div class="Bg_title_medium" style="background-color:#<%= cor %>;"><h1 class="Title_item" style="color:#<%= cor %>;"><%=show.subcategory.name%></h1></div>
            <h2 class="Title_2_item" style="color:#<%= cor %>;"><%=show.name%></h2>
			<p class="Text_boz_midle"><%=show.summary%></p>
         </div>
		 </a>
		<%end%>
	<% end %>
	 </div><!-- end Content_midle -->
	<% end %>
     <div class="clear"></div>                             
</div><!-- end Box_left --> 
<div id="Box_right">
<% if (!@Position12.blank? or !@Position13.blank? or !@Position14.blank? or !@Position15.blank?)%>        
    <%if !@Position12.blank?%> 
	<div class="Content_pub">
		<%=render_webpart(@Position12)%> 
	 </div>
	<%end%>

    <%if !@Position13.blank?%> 
	<div class="Content_pub">
		<%=render_webpart(@Position13)%> 
	</div>             
    <%end%>

	<!-- ENQUETE --> 
	<%if !@Position14.blank?%> 
	
		<%=render_webpart(@Position14)%> 
	<!-- <div class="Content_pull">
		<h1 class="Title_pull_red">Enquete<span class="Img_h1_pull_1"></span></h1>
        <div class="Pull_item_box">
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
            <div class="clear"></div>
        </div>   
        <div class="Pull_item_box">    
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>  
            <div class="clear"></div>                                
        </div>   
        <div class="Pull_item_box">
            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
            <div class="clear"></div>
        </div>   
        <a class="Btn_pull_send"></a>     	
     </div>  -->
	<%end%>
    <!-- ENQUETE --> 

	<%if !@Position15.blank?%>
		<%=render_webpart(@Position15)%>
		<!-- <div class="Content_weather">
    		<h1 class="Title_weat_red">Previsão do Tempo</h1>
    	 </div> -->
	<%end%> 
 
<% end %>
     <div class="clear"></div>                         
</div><!-- end Box_right --> 
