<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><%= content_for?(:title) ? "Festa de flores e Morangos de Atibaia - " + yield(:title) : "Festa de flores e Morangos de Atibaia" %></title> 
<%= stylesheet_link_tag "reset"%>
<meta name="viewport" content="width=device-width; initial-scale=1.0">
<%= stylesheet_link_tag "template"%>
<%= stylesheet_link_tag "template_screen_768", :media=>"screen and (max-width:768px)"%>
<%= stylesheet_link_tag "template_screen_480", :media=>"screen and (max-width:480px)"%>
<%= stylesheet_link_tag "jquery.jcarousel_gallery_home"%>
<%= stylesheet_link_tag "skin_gallery_home"%>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag "jquery.jcarousel.pack.js" %>
<%= javascript_include_tag "portal.js" %>	
<script>
	$(document).ready(function () {
		
		//jCarousel Plugin
	    $('#carousel').jcarousel({
			scroll: 1,
			auto: 2,
			wrap: 'last',
			initCallback: mycarousel_initCallback
	   	});

	//Front page Carousel - Initial Setup
   	$('div#slideshow-carousel a img').css({'opacity': '0.5'});
   	$('div#slideshow-carousel a img:first').css({'opacity': '1.0'});
   	$('div#slideshow-carousel li a:first').append('<span class="arrow"></span>')

  
  	//Combine jCarousel with Image Display
    $('div#slideshow-carousel li a').hover(
       	function () {
        		
       		if (!$(this).has('span').length) {
        		$('div#slideshow-carousel li a img').stop(true, true).css({'opacity': '0.5'});
   	    		$(this).stop(true, true).children('img').css({'opacity': '1.0'});
       		}		
       	},
       	function () {
        		
       		$('div#slideshow-carousel li a img').stop(true, true).css({'opacity': '0.5'});
       		$('div#slideshow-carousel li a').each(function () {

       			if ($(this).has('span').length) $(this).children('img').css({'opacity': '1.0'});

       		});
        		
       	}
	).click(function () {

	      	$('span.arrow').remove();        
		$(this).append('<span class="arrow"></span>');
       	$('div#slideshow-main li').removeClass('active');        
       	$('div#slideshow-main li.' + $(this).attr('rel')).addClass('active');	
        	
       	return false;
	});


});


//Carousel Tweaking

function mycarousel_initCallback(carousel) {
	
	// Pause autoscrolling if the user moves with the cursor over the clip.
	carousel.clip.hover(function() {
		carousel.stopAuto();
	}, function() {
		carousel.startAuto();
	});
}
	
</script>
</head>
<body>
<div id="General">
<div id="Bg_general" >
	<div class="Shadow">
	</div>
    <div id="Header" >
    	<div class="Shadow">
		</div>
    	<div class="Header_top">
        	<div class="Logo"><img src="images/logo_ffa.png" width="253" height="77"></div>
        	<div id="Menu" >
                <ul>
                    <li>
                    	<a href="#" class="Afesta">A FESTA</a>
                        <div class="Submenu_afesta Submenu_show">
                             <span class="Img_arrow_afesta"></span>
                             <div class="Content_submenu_top"><!-- start Content_submenu_top-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green">Atibaia</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">História</h2>
                                </div>
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">História</h2>
                                </div>    
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Alimentação</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Como chegar?</h2>
                                </div>                                                                                
                             </div><!-- end Content_submenu_top-->
                             <div class="Content_submenu_bottom"><!-- start Content_submenu_bottom-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Colaboradores</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Programação</h2>
                                </div> 
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_green"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Expositores</h2>
                                </div>                                                                               
                             </div><!-- end Content_submenu_bottom-->
                        </div>  
                    </li>
                    <li>
                    	<a href="#" class="Flores">FLORES</a>
                        <div class="Submenu_flores Submenu_show">
                          <span class="Img_arrow_flores"></span>
                             <div class="Content_submenu_top"><!-- start Content_submenu_top-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange">Jardinagem</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Orquideas</h2>
                                </div>                                                                                  
                             </div><!-- end Content_submenu_top-->
                             <div class="Content_submenu_bottom"><!-- start Content_submenu_bottom-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange">Flores</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Rosa</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Copo de Leite</h2>
                                </div> 
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Margarida</h2>
                                </div>    
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_orange"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Ver todas</h2>
                                </div>                                                                                                            
                             </div><!-- end Content_submenu_bottom-->
                        </div>                          
                    </li>
                    <li>
                    	<a class="Morangos">MORANGOS</a>
                        <div class="Submenu_morangos Submenu_show">
                          <span class="Img_arrow_morangos"></span>
 							<div class="Content_submenu_top"><!-- start Content_submenu_top-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red">Espécies</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fragaria chiloensis</h2>
                                </div>
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fragaria daltoniana</h2>
                                </div>    
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fragaria moschata</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fragaria vesca</h2>
                                </div>                                                                                                                 
                             </div><!-- end Content_submenu_top-->
                             <div class="Content_submenu_bottom"><!-- start Content_submenu_bottom-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red">Receitas</h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Torta de Morango</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Geléia de Morango</h2>
                                </div> 
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_red"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Ver todas</h2>
                                </div>                                                                               
                             </div><!-- end Content_submenu_bottom-->                          
                        </div>                      
                    </li>
                    <li>
                    	<a href="#" class="Imprensa">IMPRENSA</a>
                        <div class="Submenu_imprensa Submenu_show">
                          	<span class="Img_arrow_imprensa"></span>
 							<div class="Content_submenu_top"><!-- start Content_submenu_top-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_blue"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Releases</h2>
                                </div>
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_blue"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Material Gráfico</h2>
                                </div>                                                                                                                 
                             </div><!-- end Content_submenu_top-->
                             <div class="Content_submenu_bottom"><!-- start Content_submenu_bottom-->
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_blue"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Fotos</h2>
                                </div>   
                                <div class="Submenu_box">
                                    <h1 class="Title_submenubox_blue"></h1>
                                    <div class="Image_submenubox"></div>
                                    <h2 class="Text_submenubox">Assessoria de Imprensa</h2>
                                </div>                                                                               
                             </div><!-- end Content_submenu_bottom-->                                                        
                        </div>                          
                    </li>
                    <li><a href="./noticia.html" class="Noticias Shadow_off">NOTICIAS</a></li>
                    <li><a href="#" class="Areadeguias Shadow_off">AREA DE GUIAS</a></li>
                    <li><a href="#" class="Ingressos Shadow_off">INGRESSOS</a></li>
                <ul>
            </div>
         
        </div>
    </div><!-- end Header -->
    <div id="Container">
	<%= yield %>
    <div class="clear"></div>   
    </div><!-- end Container -->
    <div id="Footer">
        <div class="Content_footer">
            <div class="Left_footer">
                <span class="Text_f_1">2012®  Festa de Flores e Morangos de Atibaia</span><br /><span class="Text_f_2">Parque Edmundo Zanoni. Avenida Horácio Neto, - Atibaia - SP</span>
            </div>
            <div class="Center_footer">
            <span class="Text_f_3">Central de Atendimento</span><br />
                <span class="Text_f_1">0800 555 979 </span><br />
                <span class="Text_f_3">8h às 12h e 13:30h às 17:30h</span>
            </div>
            <div class="Right_footer">
                <span class="Text_f_3" >Siga-nos</span><br />
                <p class="Cont_buttons"><a href="#" class="Img_twitter"></a><a href="#" class="Img_facebook"></a><a href="#" class="Img_youtube"></a></p>
            </div>  
        </div>           
    </div><!-- end Footer -->
</div><!-- end Bg_general -->
</div><!-- end General -->
</body>
</html>
