<%content_for :head do%>
	<%= stylesheet_link_tag "imprensa"%>
	<%= stylesheet_link_tag "passo1"%>
<%end%>
<%
	atual = 0 
	controle = 0
%>
<div id="Box_left">
    <div class="Content_top">            
        <h1 class="Title_item_orange">Ingressos</h1>	
        <h3 class="Title_item_green">Passo 2 - Confira seus ingressos</h2>
        <p class="Text_grey">Confira seu pedido abaixo. Certifique-se de que a quantidade e data estão corretas. Caso algum dado não esteja correto, cancele a compra clicando no "X" à direita do pedido. Se as informações de seu carrinho estiverem corretas, clique em "próximo passo".</p>
    </div>
    <div class="Content_midle">
		<table width="690" border="0" cellspacing="0" cellpadding="0" class="Btn_table_ingresso">	
			<tr>
				<td>
		<% if @carts.count > 0 %>
			<%@carts.each do |c|
				if atual != c.ticket.ticket_category_id %>
					<% if controle > 0 %>       
						</table>
						<h1 class="Title_item_orange_week"><%= c.ticket.ticket_category.name %></h1>
						<table width="458" border="0" cellspacing="0" cellpadding="0" class="Btn_table_ingresso">					
					<%else%>				
						<h1 class="Title_item_orange_week"><%= c.ticket.ticket_category.name %></h1>
						<table width="458" border="0" cellspacing="0" cellpadding="0" class="Btn_table_ingresso">
					<%end%>
				<%end%>       
						<tr>
							<td>
								<div id='box_compra_p2'>
									<div id='dia'>
										<div class="dia_um">
											DIA
										</div>
										<div class="dia_dois">
											<%=c.ticket.ticket_date.strftime('%d')%>
										</div>
										<div class="dia_tres">
											<%=I18n.localize(c.ticket.ticket_date, :format => "%A")%>
										</div>
									</div>
									<div id='preco'>
										<div class="preco_um">
											PREÇO
										</div>
										<div class="preco_dois">
											<%=number_to_currency(c.price)%>
										</div>
										<div class="preco_tres">
											<%=c.ticket.ticket_type.name%>
										</div>
									</div>
									<div id='qtde'>
										<div class="qtde_um">
											QTDE.
										</div>
										<div class="qtde_dois">
											<div class="qtde_tres">
												<%=c.amount%>
											</div>
										</div>
									</div>
									<div id='total'>
										<div class="total_um">
											TOTAL
										</div>
										<div class="total_dois">
											<%=number_to_currency(c.price * c.amount)%>
											<%@total_final += c.price * c.amount%>
										</div>
									</div>
									<div id='btn_rem_cart'>
										<%= link_to(image_tag("btn_remove_cart.jpg", :width=>"91", :height=>"107", :border=>"0"), c, :confirm => 'Deseja excluir este ingresso do seu carrinho?', :method => :delete) %>
									</div>
								</div>
							</td>
						</tr>
						<%if atual != c.ticket.ticket_category_id          
							controle = controle +1
						end%>
						<% atual = c.ticket.ticket_category_id %>
						<%
							if c.completed
						        c.completed = false
						        c.save
					      	end
						%>
					<%end%>
						</table>
				<%end%>
				</td>
				<td width="232" style="vertical-align: middle !important;"	>
					<div id='total_compra'>
						<div id='tit_total_compra'>
							TOTAL DA COMPRA
						</div>
						<div id='valor_total_compra'>
							<%=number_to_currency(@total_final)%>
						</div>
						<div id='btn_total_compra'>
							<%= link_to(image_tag("btn_cancel_cart.png",:border=>"0"),destroy_cart_carts_path, :confirm => 'Deseja excluir o seu carrinho?')%>
						</div>
					</div><a href="#"></a>
				</td>
			</tr>
		</table>	
	





			<table width="690" border="0" cellspacing="0" cellpadding="0" class="Btn_table_ingresso">
               <tr>
				<td width="215"><%=link_to(image_tag("btn_prev_cart.png", :width=>"160", :height=>"52", :border=>"0"),ingressos_selecione_index_path)%></td>
				<td width="260"></td>
				<td width="215" align="right"><%=link_to(image_tag("btn_next_cart.png", :width=>"160", :height=>"52", :border=>"0"),ingressos_pagamento_index_path)%></td>
               </tr>
            </table>



           </div><!-- end Content_midle -->
			<% if (!@Position16.blank? or !@Position17.blank? or !@Position18.blank?)%>
            <div class="Content_bottom">
				<h1 class="Title_item_orange">Veja também</h1>	
                <div class="Box_imprensa_content">
					<%if !@Position16.blank?%> 
                    <div class="Box_bottom_imprensa">
						<%=render_webpart(@Position16)%>
                    </div> 
					<%end%>
					<%if !@Position17.blank?%>
                    <div class="Box_bottom_imprensa">
						<%=render_webpart(@Position17)%>
                    </div>
					<%end%>
					<%if !@Position18.blank?%>
                    <div class="Box_bottom_imprensa">
						<%=render_webpart(@Position18)%>
                    </div> 
                    <%end%>                 
                </div>        
            </div>            
			<%end%>
        </div><!-- end Box_left -->
        <div id="Box_right">        
			<% if (!@Position12.blank? or !@Position13.blank? or !@Position14.blank? or !@Position15.blank?)%>        
			    <%if !@Position12.blank?%> 
				<div class="Content_pub">
					<%=render_webpart(@Position12)%> 
				 </div>
				<%end%>

			    <%if !@Position13.blank?%> 
				<div class="Content_pub">
					<%=render_webpart(@Position13)%> 
				</div>             
			    <%end%>

				<!-- ENQUETE --> 
				<%if !@Position14.blank?%> 

					<%=render_webpart(@Position14)%> 
				<!-- <div class="Content_pull">
					<h1 class="Title_pull_red">Enquete<span class="Img_h1_pull_1"></span></h1>
			        <div class="Pull_item_box">
			            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
			            <div class="clear"></div>
			        </div>   
			        <div class="Pull_item_box">    
			            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam </p>  
			            <div class="clear"></div>                                
			        </div>   
			        <div class="Pull_item_box">
			            <input type="checkbox" class="chk" name="chkbox1" value="1" /></input><p class="Text_checkbox_p">Lorem ipsum dolor sit amet,consectetuer </p>
			            <div class="clear"></div>
			        </div>   
			        <a class="Btn_pull_send"></a>     	
			     </div>  -->
				<%end%>
			    <!-- ENQUETE --> 

				<%if !@Position15.blank?%>
					<%=render_webpart(@Position15)%>
					<!-- <div class="Content_weather">
			    		<h1 class="Title_weat_red">Previsão do Tempo</h1>
			    	 </div> -->
				<%end%> 

			<% end %>
             <div class="clear"></div>                         
        </div><!-- end Box_right -->